<div class="details-container container">
	<div class="first-row">
		<h4 class="first-item movie-title"></h4>
		<div class="second-item">
			<a class="content-btn d-none d-md-flex" href="/">Back</a>
		</div>
	</div>
	<div class="second-row">
		<p class="first-item date-genre"></p>
		<p class="second-item awards"></p>
	</div>
	<div class="third-row row">
		<div class="col-sm-4 d-flex">
			<img class="content-img poster" src="">
		</div>
		<div class="col-sm-8">
			<div class="content-wrapper">
				<h6>Plot: </h6><p class="plot"></p>
			</div>
			<div class="content-wrapper">
				<h6>Actors: </h6><p class="actors"></p>
			</div>
			<div class="content-wrapper">
				<h6>Director: </h6><p class="director"></p>
			</div>
			<div class="content-wrapper">
				<h6>Writer: </h6><p class="writer"></p>
			</div>

			<h5 class="text-center">Ratings</h5>
			<div class="row">
				<div class="col-6">
					<h6 class="first-source"></h6>
					<h6 class="first-rating"></h6>
				</div>
				<div class="col-6">
					<h6 class="second-source"></h6>
					<h6 class="second-rating"></h6>
				</div>
			</div>
		</div>
	</div>
	<a class="content-btn d-flex d-sm-none justify-content-center align-items-center" href="/">Back</a>
</div>