<div class="search-container container">
	<a class="content-link" href="/"><h1>Sallve Movies</h1></a>

	<form class="content-form" onsubmit="loadResultsPage(); return false;"> 
		<input class="text-input" type="text" placeholder="find a movie" name="search">
		<input class="content-btn submit-input" type="submit" value="Search">
	</form>
</div>