@media (max-width: 768px) {
  html {
    font-size: 14px; } }

body {
  background-color: #FFC6AF;
  color: #333;
  font-family: 'Poppins', sans-serif; }
  body h1 {
    font-size: 5.5rem; }
  body h4 {
    font-size: 2rem; }
  body h5 {
    font-size: 1.25rem; }
  body h6, body p, body a, body button {
    font-size: 1rem; }
  body h1, body h4,
  body .content-link:hover {
    color: #9F77FF; }
  body .content-img {
    width: 100%; }
    @media (max-width: 576px) {
      body .content-img {
        width: 70%;
        margin: 0 auto 32px; } }
  body .content-link {
    color: #333; }
  body .content-link:hover,
  body .content-btn:hover {
    text-decoration: none; }
  body .content-btn {
    height: 36px;
    width: 100px;
    border: 0;
    background: #9F77FF;
    color: #FFF;
    -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
    -webkit-appearance: unset;
    -moz-appearance: unset;
    appearance: unset; }
    body .content-btn:hover, body .content-btn:focus, body .content-btn:active {
      background: #FFF;
      color: #9F77FF; }
    @media (max-width: 768px) {
      body .content-btn {
        height: 28px; } }
  body .search-container {
    height: 100vh;
    max-width: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (max-width: 576px) {
      body .search-container {
        width: 320px; } }
    body .search-container .content-link h1 {
      margin-bottom: 56px; }
      @media (max-width: 576px) {
        body .search-container .content-link h1 {
          font-size: 40px; } }
    body .search-container .content-form {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 576px) {
        body .search-container .content-form {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      body .search-container .content-form input:focus {
        outline: none; }
      body .search-container .content-form .text-input {
        width: 80%;
        border: 0;
        border-radius: 24px;
        padding: 6px 16px;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
        @media (max-width: 576px) {
          body .search-container .content-form .text-input {
            width: 100%; } }
      body .search-container .content-form .submit-input {
        margin-left: auto; }
        @media (max-width: 576px) {
          body .search-container .content-form .submit-input {
            margin: 24px 0 0; } }
  body .results-container {
    max-width: 100vw;
    padding: 0 80px; }
    @media (max-width: 576px) {
      body .results-container {
        padding: 0 16px; } }
    body .results-container .content-link {
      margin-bottom: 16px; }
  body .details-container {
    display: none;
    margin-top: 32px; }
    body .details-container .content-btn {
      margin-left: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 576px) {
        body .details-container .content-btn {
          margin: 16px auto; } }
    body .details-container .first-row,
    body .details-container .second-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      body .details-container .first-row .first-item,
      body .details-container .second-row .first-item {
        width: 70%; }
      body .details-container .first-row .second-item,
      body .details-container .second-row .second-item {
        text-align: right;
        width: 30%; }
      @media (max-width: 576px) {
        body .details-container .first-row,
        body .details-container .second-row {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 70vw;
          margin: 0 auto; }
          body .details-container .first-row .first-item,
          body .details-container .first-row .second-item,
          body .details-container .second-row .first-item,
          body .details-container .second-row .second-item {
            width: 100%;
            text-align: center; } }
    body .details-container .second-row {
      padding: 8px 0 24px; }
    body .details-container .third-row h5 {
      margin: 24px 0; }
    @media (max-width: 576px) {
      body .details-container .third-row .img-col,
      body .details-container .third-row .ratings-col {
        text-align: center; } }
    body .details-container .third-row .content-wrapper {
      margin-bottom: 32px; }
      @media (max-width: 576px) {
        body .details-container .third-row .content-wrapper {
          margin-bottom: 8px; } }
      body .details-container .third-row .content-wrapper h6 {
        margin-right: 4px; }
      body .details-container .third-row .content-wrapper h6, body .details-container .third-row .content-wrapper p {
        display: inline; }
  body #reduced {
    height: unset;
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px 80px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 768px) {
      body #reduced {
        width: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        body #reduced .content-link h1 {
          margin-bottom: 8px; }
        body #reduced .content-form {
          width: 100%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          body #reduced .content-form .text-input {
            width: 60%; }
          body #reduced .content-form .submit-input {
            width: 72px;
            margin: 0; } }
    @media (max-width: 576px) {
      body #reduced {
        padding: 20px 16px; } }
    body #reduced .content-link h1 {
      margin-bottom: 0;
      font-size: 24px; }
    body #reduced .content-form {
      width: 70%; }
      body #reduced .content-form .text-input {
        width: 70%; }

/*# sourceMappingURL=main.css.map */
